#upsImpMes{
	padding: 20px 0;
	background: #ffd917;
	font-size: 20px;
}
#upsImpMes >div >div>div{
	color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#upsImpMes.temp >div >div>div{
  justify-content: center;
}
#upsImpMes >div >div>div .closer{
	display: block;
	border: none;
	background: none;
	font-size: 30px;
	width: 30px;
	height: 30px;
	color: #1a1a1a;
	border: thin solid #1a1a1a;
	line-height: 30px;
	cursor: pointer;
	text-align: center;
}
#upsImpMes >div >div>div .closer:hover{
	background: #fff;
	color: #ffd917;
	border-color: #ffd917;
}
